<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="messages content">
      <h2>All Messages</h2>

      <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
      <span>
        <h3><%= message.user %></h3>
        <p><%= message.text %></p>
        <p class="created"><%= message.createdAt %></p>
      </span>
      <% }) %> <% } else { %>
      <p>There are no messages to display...</p>
      <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
